body{
    background-image: url("https://cdn.cnn.com/cnnnext/dam/assets/190910120101-04-shopping-cities-photos.jpg");
    align-items: center;
}

#container{
    background-color: #000000d0;
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-left: 30%;
    width: 700px;
    height: 480px;
    border-radius: 15px;
    
    
}

#container input{
    border-radius: 15px;
    height: 25px;
    width: 200px;
    background-color: #2121218b;
    border: none;
    margin-top: 10px;
    color: white;
    font-size: 20px;
}

#searchBtn{
    transition: 1;
    border-radius: 50%;
    height: 30px;
    color: white;
    border: none;
    background-color: rgb(57, 57, 57);
}
#searchBtn:hover{
    transition: 1;
    background-color: darkgray;
}

#container h1{
    transition: 1s;
    font-weight: bold;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#container h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#icon{
    width: 70px;
    height: 70px
}


@media all and (max-width: 500px){
    #container {
        margin-left: 5%;
        width: 350px;
        margin-top: 25%;
    }
}
